body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.field{
  width: 350px;
  min-height: 450px;
  display: inline-block;
  background: #fff;
  box-shadow: -1px 2px 31px -5px rgba(0,0,0,0.37);
  margin: 30px;
  border-radius: 8px;
  padding: 15px;
}

.workspace{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
